# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [1]:
a =  [1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Append to the list the number 20

In [2]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [3]:
a.insert(4,0)
a.insert(5,0)
a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10, 20]

4. Sort the list in reverse order

In [4]:
b = a[0:13]
b.sort(reverse=True)
b

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 0]

5. Remove the last two items from the list

In [5]:
#(the lower bound is inclusive and the upper bound is exclusive)
del b[11:13]
print(b)

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

6. Invert the order of the list

In [6]:
b.reverse()
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [7]:
number_of_elements = len(b)

print("Number of elements in the list: ", number_of_elements)

Number of elements in the list:  11

8. Give the minimum, maximum and the sum of all the items in the list

In [8]:
print("min: %s - max: %s - sum: %s" % (min(b),max(b),sum(b)))

min: 1 - max: 20 - sum: 75

9. What will happen if you multiply the list by 2?

In [9]:
multiplied_list = [element * 2 for element in b]

print(multiplied_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 40]

10. Can you divide the list by 3?

In [10]:
import numpy as np
myInt = 3
c  = np.divide(b, myInt)
print(c)

[0.33333333 0.66666667 1.         1.33333333 1.66666667 2.
 2.33333333 2.66666667 3.         3.33333333 6.66666667]

# Tupples
 
1. Create a tupple with three characters and four numbers

In [11]:
t = (1, 2, 3, 4, 'A', 'B', 'C')
t

(1, 2, 3, 4, 'A', 'B', 'C')

2. Append two booleans (false, true) to the tupple

In [12]:
#we can't add elements to a tuple because of their immutable property.
#There's no append()  method for tuples
#but we  can combine tuples to form a new tuple
bo = (True,False)
t = t + bo
print(t)

(1, 2, 3, 4, 'A', 'B', 'C', True, False)

3. Retrieve the third to sixth items from the tupple

In [13]:
third_val = t[3]
sixth_val = t[6]
print(third_val)
print(sixth_val)

4
C

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [14]:
string =("Shallow copy is a bit-wise copy of an object.A new object is created that has an exact copy of the values in the original object")
s = set(string.split(' '))
s

{'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.A',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [15]:
string =("Shallow copy is a bit-wise copy of an object.A new object is created that has an exact copy of the values in the original object")
s1=string.replace("."," ")
s = set(s1.split(' '))
s

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'that',
 'the',
 'values'}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [16]:
#the handwork code
D = { 1020:['Harry Smith','Sales Manager','030-223.65.44']
     ,2201 : ['Margaret Holsum','Sales Representative','030-223.64.12'] 
     ,3320: ['Lasly Howard','Human Resources','030-223.83.33'] 
     ,8111 : ['Larry Johnson','Project Manager','030-224.22.00'] 
     ,2733 : ['Hellen Young','Customer Service','030-223.03.20']} 
D

{1020: ['Harry Smith', 'Sales Manager', '030-223.65.44'],
 2201: ['Margaret Holsum', 'Sales Representative', '030-223.64.12'],
 3320: ['Lasly Howard', 'Human Resources', '030-223.83.33'],
 8111: ['Larry Johnson', 'Project Manager', '030-224.22.00'],
 2733: ['Hellen Young', 'Customer Service', '030-223.03.20']}

1. Get all the keys of the dictionary

In [17]:
D.keys()

dict_keys([1020, 2201, 3320, 8111, 2733])

2. Get all the values of the dictionary

In [18]:
D.values()

dict_values([['Harry Smith', 'Sales Manager', '030-223.65.44'], ['Margaret Holsum', 'Sales Representative', '030-223.64.12'], ['Lasly Howard', 'Human Resources', '030-223.83.33'], ['Larry Johnson', 'Project Manager', '030-224.22.00'], ['Hellen Young', 'Customer Service', '030-223.03.20']])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [19]:
D[3320]

['Lasly Howard', 'Human Resources', '030-223.83.33']

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [21]:
for number in range (0,100):
      if number > 1:  
        for i in range(2,number):  
            if (number % i) == 0:  
                break  
        else:  
            print('primary number',"=",number)

primary number = 2
primary number = 3
primary number = 5
primary number = 7
primary number = 11
primary number = 13
primary number = 17
primary number = 19
primary number = 23
primary number = 29
primary number = 31
primary number = 37
primary number = 41
primary number = 43
primary number = 47
primary number = 53
primary number = 59
primary number = 61
primary number = 67
primary number = 71
primary number = 73
primary number = 79
primary number = 83
primary number = 89
primary number = 97

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [ ]:
for number in range (0,100):
      while number > 1:  
        for i in range(2,100):  
            if (number % i) == 0:  
                break  
        else:  
            print('primary number',"=",number)